<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/index.css">
  <script src="./js/jquery.min.js"></script>
  <script src="./js/bootstrap.bundle.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <title>index</title>
  <style>
  </style>
</head>

<body>
  <div class="xz-indexpart">
    <div class="container">
      <div class="row xz-sg">
        <!-- 第一列 -->
        <div class="col-lg-7 col-sm-12 zdy-h370 mb-2">
          <div class="w-100 h-100 xz-index-1">
            <img src="./img/index/study_computer_img1.png" alt="">
            <div class="xz-index-text">
              <h3 class="m-0">Apple MacBook Air系列</h3>
              <p class="m-0 mt-1">酷睿双核i5处理器|256GB SSD|8GB内存|英特尔HD显卡620含共享显卡内存</p>
              <h5 class="m-0 mt-4">￥6988.99</h5>
              <button class="mt-3">查看详情</button>
            </div>
          </div>
        </div>
        <!-- 第二列 在sm的时候高度是auto 它依据的是同行的列的高度，但自动终究是受依靠方的元素影响的（自助性差，可调整低，如需自定义效果更佳，可使用媒体查询单独为这行的两个元素重新改高度）-->
        <div class="col-lg-5 col-sm-7 p-lg-0 pl-sm-0 mb-2">
          <div class="w-100 h-100 xz-index-2">
            <img src="./img/index/study_computer_img2.png" alt="">
            <div class="xz-index-text">
              <h3>小米Air 金属超轻薄</h3>
              <p>酷睿双核i5处理器|512GB SSD|2GB内存|英特尔HD独立显卡</p>
              <h5>￥3488.00</h5>
              <button>查看详情</button>
            </div>

          </div>
        </div>
        <!-- 第三列 sm的时候以230高度为主 -->
        <div class="col-lg-5 col-sm-5 zdy-h230 pl-lg-0 p-sm-0 xz-col3 mb-2">
          <div class="xz-index-3">
            <img src="./img/index/study_computer_img3.png" alt="">
            <div class="xz-index-text">
              <h3>联想E480C 轻薄系列</h3>
              <h5>￥5399.00</h5>
              <button>查看详情</button>
            </div>
          </div>
        </div>
        <!-- 第四列 -->
        <div class="col-lg-7 col-sm-12 mb-2">
          <div class="row">
            <div class="col-lg-4 col-sm-4 zdy-h230 pl-sm-0">
              <div class="xz-index-4">
                <img src="./img/index/study_computer_img4.png" alt="">
                <div class="xz-index-text">
                  <p>华硕RX310 金属超极本</p>
                  <h3>￥4966.00</h3>
                  <button>查看详情</button>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4 zdy-h230 pl-sm-0">
              <div class="xz-index-4">
                <div class="xz-index-4">
                  <img src="./img/index/study_computer_img5.png" alt="">
                  <div class="xz-index-text">
                    <p>联想小新700 电竞版游戏本</p>
                    <h3>￥6299.00</h3>
                    <button>查看详情</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4 zdy-h230 pl-sm-0 pr-sm-0">
              <div class="xz-index-4">
                <div class="xz-index-4">
                  <img src="./img/index/study_computer_img3.png" alt="">
                  <div class="xz-index-text">
                    <p>戴尔灵越燃7000 轻薄窄边</p>
                    <h3>￥5199.00</h3>
                    <button>查看详情</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>