<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/xz_cardList.css">
  <script src="./js/jquery.min.js"></script>
  <script src="./js/bootstrap.bundle.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <title>cardList</title>
  <style>
  </style>
</head>
<!-- 先根据设计图绘制布局图，布局图需要有模块和基础的布局思路代码，以便于布局时候参考 -->
<!-- 同时考虑的维度过多不利于快速响应 -->
<!-- 按照内容的展示对布局进行调整 -->
<!-- 优先考虑大多数 xl:1200px lg:996px md:768px sm:576px 四种适配的情况 -->
<!-- 如果出现了其中一种有问题的情况，修改局部的内容样式以适应布局，而不是调整大布局 -->
<!-- 总之是先布局，后样式，样式服从布局 -->
<body>
  <div class="cardlist-part">
    <div class="container">
      <div class="row">
        <!-- 左侧最大部分 -->
        <div class="col-xl-9 col-sm-12">
          <div class="row">
            <div class="col-lg-4 col-sm-6">
              <div class="card xz-card">
                <img src="./img/xz/57b12a31N8f4f75a3.jpeg" alt="" class="card-img-top w-75 m-auto">
                <div class="card-body">
                  <h5>价格$999.99</h5>
                  <p>联想天选之子，快来买买买</p>
                  <div class="xz-shop d-flex justify-content-between">
                    <div class="clearfix">
                      <button class="btn btn-secondary btn-sm float-left">-</button>
                      <input type="text" class="float-left ml-1 mr-1">
                      <button class="btn btn-secondary btn-sm float-left">+</button>
                    </div>
                    <button class="btn btn-primary">加入购物车</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="card xz-card">
                <img src="./img/xz/57b12a31N8f4f75a3.jpeg" alt="" class="card-img-top w-75 m-auto">
                <div class="card-body">
                  <h5>价格$999.99</h5>
                  <p>联想天选之子，快来买买买</p>
                  <div class="xz-shop d-flex justify-content-between">
                    <div class="clearfix">
                      <button class="btn btn-secondary btn-sm float-left">-</button>
                      <input type="text" class="float-left ml-1 mr-1">
                      <button class="btn btn-secondary btn-sm float-left">+</button>
                    </div>
                    <button class="btn btn-primary">加入购物车</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="card xz-card">
                <img src="./img/xz/57b12a31N8f4f75a3.jpeg" alt="" class="card-img-top w-75 m-auto">
                <div class="card-body">
                  <h5>价格$999.99</h5>
                  <p>联想天选之子，快来买买买</p>
                  <div class="xz-shop d-flex justify-content-between">
                    <div class="clearfix">
                      <button class="btn btn-secondary btn-sm float-left">-</button>
                      <input type="text" class="float-left ml-1 mr-1">
                      <button class="btn btn-secondary btn-sm float-left">+</button>
                    </div>
                    <button class="btn btn-primary">加入购物车</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="card xz-card">
                <img src="./img/xz/57b12a31N8f4f75a3.jpeg" alt="" class="card-img-top w-75 m-auto">
                <div class="card-body">
                  <h5>价格$999.99</h5>
                  <p>联想天选之子，快来买买买</p>
                  <div class="xz-shop d-flex justify-content-between">
                    <div class="clearfix">
                      <button class="btn btn-secondary btn-sm float-left">-</button>
                      <input type="text" class="float-left ml-1 mr-1">
                      <button class="btn btn-secondary btn-sm float-left">+</button>
                    </div>
                    <button class="btn btn-primary">加入购物车</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="card xz-card">
                <img src="./img/xz/57b12a31N8f4f75a3.jpeg" alt="" class="card-img-top w-75 m-auto">
                <div class="card-body">
                  <h5>价格$999.99</h5>
                  <p>联想天选之子，快来买买买</p>
                  <div class="xz-shop d-flex justify-content-between">
                    <div class="clearfix">
                      <button class="btn btn-secondary btn-sm float-left">-</button>
                      <input type="text" class="float-left ml-1 mr-1">
                      <button class="btn btn-secondary btn-sm float-left">+</button>
                    </div>
                    <button class="btn btn-primary">加入购物车</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="card xz-card">
                <img src="./img/xz/57b12a31N8f4f75a3.jpeg" alt="" class="card-img-top w-75 m-auto">
                <div class="card-body">
                  <h5>价格$999.99</h5>
                  <p>联想天选之子，快来买买买</p>
                  <div class="xz-shop d-flex justify-content-between">
                    <div class="clearfix">
                      <button class="btn btn-secondary btn-sm float-left">-</button>
                      <input type="text" class="float-left ml-1 mr-1">
                      <button class="btn btn-secondary btn-sm float-left">+</button>
                    </div>
                    <button class="btn btn-primary">加入购物车</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="card xz-card">
                <img src="./img/xz/57b12a31N8f4f75a3.jpeg" alt="" class="card-img-top w-75 m-auto">
                <div class="card-body">
                  <h5>价格$999.99</h5>
                  <p>联想天选之子，快来买买买</p>
                  <div class="xz-shop d-flex justify-content-between">
                    <div class="clearfix">
                      <button class="btn btn-secondary btn-sm float-left">-</button>
                      <input type="text" class="float-left ml-1 mr-1">
                      <button class="btn btn-secondary btn-sm float-left">+</button>
                    </div>
                    <button class="btn btn-primary">加入购物车</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="card xz-card">
                <img src="./img/xz/57b12a31N8f4f75a3.jpeg" alt="" class="card-img-top w-75 m-auto">
                <div class="card-body">
                  <h5>价格$999.99</h5>
                  <p>联想天选之子，快来买买买</p>
                  <div class="xz-shop d-flex justify-content-between">
                    <div class="clearfix">
                      <button class="btn btn-secondary btn-sm float-left">-</button>
                      <input type="text" class="float-left ml-1 mr-1">
                      <button class="btn btn-secondary btn-sm float-left">+</button>
                    </div>
                    <button class="btn btn-primary">加入购物车</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="card xz-card">
                <img src="./img/xz/57b12a31N8f4f75a3.jpeg" alt="" class="card-img-top w-75 m-auto">
                <div class="card-body">
                  <h5>价格$999.99</h5>
                  <p>联想天选之子，快来买买买</p>
                  <div class="xz-shop d-flex justify-content-between">
                    <div class="clearfix">
                      <button class="btn btn-secondary btn-sm float-left">-</button>
                      <input type="text" class="float-left ml-1 mr-1">
                      <button class="btn btn-secondary btn-sm float-left">+</button>
                    </div>
                    <button class="btn btn-primary">加入购物车</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="card xz-card">
                <img src="./img/xz/57b12a31N8f4f75a3.jpeg" alt="" class="card-img-top w-75 m-auto">
                <div class="card-body">
                  <h5>价格$999.99</h5>
                  <p>联想天选之子，快来买买买</p>
                  <div class="xz-shop d-flex justify-content-between">
                    <div class="clearfix">
                      <button class="btn btn-secondary btn-sm float-left">-</button>
                      <input type="text" class="float-left ml-1 mr-1">
                      <button class="btn btn-secondary btn-sm float-left">+</button>
                    </div>
                    <button class="btn btn-primary">加入购物车</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="card xz-card">
                <img src="./img/xz/57b12a31N8f4f75a3.jpeg" alt="" class="card-img-top w-75 m-auto">
                <div class="card-body">
                  <h5>价格$999.99</h5>
                  <p>联想天选之子，快来买买买</p>
                  <div class="xz-shop d-flex justify-content-between">
                    <div class="clearfix">
                      <button class="btn btn-secondary btn-sm float-left">-</button>
                      <input type="text" class="float-left ml-1 mr-1">
                      <button class="btn btn-secondary btn-sm float-left">+</button>
                    </div>
                    <button class="btn btn-primary">加入购物车</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="card xz-card">
                <img src="./img/xz/57b12a31N8f4f75a3.jpeg" alt="" class="card-img-top w-75 m-auto">
                <div class="card-body">
                  <h5>价格$999.99</h5>
                  <p>联想天选之子，快来买买买</p>
                  <div class="xz-shop d-flex justify-content-between">
                    <div class="clearfix">
                      <button class="btn btn-secondary btn-sm float-left">-</button>
                      <input type="text" class="float-left ml-1 mr-1">
                      <button class="btn btn-secondary btn-sm float-left">+</button>
                    </div>
                    <button class="btn btn-primary">加入购物车</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 右侧公告部分 -->
        <div class="col-xl-3 d-xl-block d-sm-none"></div>
        
      </div>
    </div>
  </div>
</body>

</html>