<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <script src="./js/jquery.min.js"></script>
  <script src="./js/bootstrap.bundle.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <title>导航和导航栏</title>
  <style>
  </style>
</head>

<body>
  <div class="container">
    <!-- 普通导航 -->
    <!-- nav 基类 -->
    <ul class="nav">
      <li class="nav-item"><a href="#" class="nav-link">首页</a></li>
      <li class="nav-item"><a href="#" class="nav-link">学习用品</a></li>
      <li class="nav-item"><a href="#" class="nav-link">私人订制</a></li>
    </ul>
    <hr>
    <!-- 胶囊导航 -->
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" data-toggle="pill">首页</a></li>
      <li class="nav-item"><a href="#" class="nav-link" data-toggle="pill">学习用品</a></li>
      <li class="nav-item"><a href="#" class="nav-link" data-toggle="pill">私人订制</a></li>

    </ul>
  </div>
</body>

</html>