<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <script src="./js/jquery.min.js"></script>
  <script src="./js/bootstrap.bundle.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./css/xz-footer.css">
  <title>xz-footer</title>
</head>

<body>
  <div class="server-part">
    <div class="container">
      <div class="row text-center">
        <div class="col-3 pt-4 pb-5">
          <img src="./img/footer/icon1.png" alt="">
          <span class="d-block">品质保障</span>
        </div>
        <div class="col-3 pt-4 pb-5">
          <img src="./img/footer/icon2.png" alt="">
          <span class="d-block">私人订制</span>
        </div>
        <div class="col-3 pt-4 pb-5">
          <img src="./img/footer/icon3.png" alt="">
          <span class="d-block">学员特供</span>
        </div>
        <div class="col-3 pt-4 pb-5">
          <img src="./img/footer/icon4.png" alt="">
          <span class="d-block">专属特权</span>
        </div>

      </div>
    </div>
  </div>

</body>

</html>