@charset "UTF-8";
.xz-search {
  width: 55%; }

/* md:768px为分界线，其控制的小于md以下的宽度 */
@media screen and (max-width: 768px) {
  .xz-search {
    margin: 10px 0;
    width: 100%; } }
.xz-search input {
  outline: none;
  background-image: url("../img/header//search.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%; }

.xz-menu a:nth-child(n+4) {
  font-size: 12px;
  color: #808080;
  line-height: 24px; }

.zdy-h370 {
  height: 370px; }

.zdy-h230 {
  height: 230px; }

.xz-indexpart .xz-index-1 {
  position: relative;
  background-color: #E8E8E8; }
  .xz-indexpart .xz-index-1 img {
    position: absolute;
    top: 10%;
    right: 4%;
    transition: 1s; }
    .xz-indexpart .xz-index-1 img:hover {
      transform: scale(1.1); }
  .xz-indexpart .xz-index-1 .xz-index-text {
    position: relative;
    top: 10%;
    left: 10%;
    width: 40%; }
    .xz-indexpart .xz-index-1 .xz-index-text h3 {
      font-size: 28px; }
    .xz-indexpart .xz-index-1 .xz-index-text p {
      font-size: 12px;
      color: #808080; }
    .xz-indexpart .xz-index-1 .xz-index-text h5 {
      font-size: 18px;
      color: #0aa1ed; }
    .xz-indexpart .xz-index-1 .xz-index-text button {
      width: 130px;
      height: 40px;
      background-color: #0aa1ed;
      color: #FFF;
      border: none;
      border-radius: 3px;
      font-size: 16px; }
.xz-indexpart .xz-index-4 {
  background-color: #E8E8E8;
  width: 100%;
  height: 100%;
  text-align: center; }
  .xz-indexpart .xz-index-4 img {
    display: block;
    margin: 0 auto;
    width: 90%; }
  .xz-indexpart .xz-index-4 .xz-index-text p {
    margin: 0;
    font-size: 12px;
    color: #000; }
  .xz-indexpart .xz-index-4 .xz-index-text h3 {
    margin: 0;
    margin-top: 5px;
    font-size: 14px;
    color: #0aa1ed; }
  .xz-indexpart .xz-index-4 .xz-index-text button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background-color: #0aa1ed;
    color: #FFF;
    border: none;
    border-radius: 3px;
    font-size: 14px; }

/* 不能只考虑pc 还要考虑sm的时候黄色会下去，列1会填满整行因此，直接给列1去内边距不合适（媒体查询必须写） */
/* 写媒体查询 */
/* min-width: 576px 是sm以上 */
@media (min-width: 576px) {
  /* 缩小时左右内边距都为0 */
  .xz-sg > div:nth-child(1) {
    padding-left: 0;
    padding-right: 0; }

  .xz-indexpart .xz-index-2 {
    background-color: #E8E8E8;
    position: relative; }
    .xz-indexpart .xz-index-2 img {
      position: absolute;
      top: 10%;
      right: 3%;
      width: 45%;
      transition: 1s; }
      .xz-indexpart .xz-index-2 img:hover {
        transform: scale(1.03); }
    .xz-indexpart .xz-index-2 .xz-index-text {
      position: relative;
      width: 50%;
      left: 7%;
      top: 10%; }
      .xz-indexpart .xz-index-2 .xz-index-text h3 {
        font-size: 18px; }
      .xz-indexpart .xz-index-2 .xz-index-text p {
        font-size: 12px;
        color: #808080; }
      .xz-indexpart .xz-index-2 .xz-index-text h5 {
        font-size: 18px;
        color: #0aa1ed; }
      .xz-indexpart .xz-index-2 .xz-index-text button {
        width: 130px;
        height: 40px;
        background-color: #0aa1ed;
        color: #FFF;
        border: none;
        border-radius: 3px;
        font-size: 16px; }
  .xz-indexpart .xz-index-3 {
    background-color: #E8E8E8;
    width: 100%;
    height: 100%;
    position: relative; }
    .xz-indexpart .xz-index-3 > div {
      position: relative;
      top: 15%;
      left: 7%;
      width: 35%; }
      .xz-indexpart .xz-index-3 > div h3 {
        font-size: 18px; }
      .xz-indexpart .xz-index-3 > div h5 {
        font-size: 18px;
        color: #0aa1ed; }
      .xz-indexpart .xz-index-3 > div button {
        width: 130px;
        height: 40px;
        background-color: #0aa1ed;
        color: #FFF;
        border: none;
        border-radius: 3px;
        font-size: 16px; }
    .xz-indexpart .xz-index-3 > img {
      position: absolute;
      top: 15%;
      right: 5%;
      width: 45%;
      transition: 1s; }
      .xz-indexpart .xz-index-3 > img:hover {
        transform: scale(1.1); } }
/* min-width: 992px 是lg以上 */
@media (min-width: 992px) {
  /* 放大时，只有左内边距为0，右内边距为原来的15px */
  .xz-sg > div:nth-child(1) {
    padding-left: 0;
    padding-right: 15px; }

  .xz-indexpart .xz-index-2 {
    background-color: #E8E8E8;
    position: relative; }
    .xz-indexpart .xz-index-2 img {
      position: absolute;
      width: 60%;
      top: 25%;
      bottom: 6%;
      transition: 1s; }
      .xz-indexpart .xz-index-2 img:hover {
        transform: scale(1.05); }
    .xz-indexpart .xz-index-2 .xz-index-text {
      position: relative;
      top: 10%;
      left: 10%;
      width: 50%; }
      .xz-indexpart .xz-index-2 .xz-index-text h3 {
        font-size: 28px; }
      .xz-indexpart .xz-index-2 .xz-index-text p {
        font-size: 12px;
        color: #808080; }
      .xz-indexpart .xz-index-2 .xz-index-text h5 {
        font-size: 18px;
        color: #0aa1ed; }
      .xz-indexpart .xz-index-2 .xz-index-text button {
        width: 130px;
        height: 40px;
        background-color: #0aa1ed;
        color: #FFF;
        border: none;
        border-radius: 3px;
        font-size: 16px; }
  .xz-indexpart .xz-col3 {
    padding-right: 15px !important; }
    .xz-indexpart .xz-col3 > div {
      width: 100%;
      height: 100%; }
  .xz-indexpart .xz-index-3 {
    background-color: #E8E8E8;
    width: 100%;
    height: 100%;
    position: relative; }
    .xz-indexpart .xz-index-3 > div {
      position: relative;
      top: 20%;
      left: 10%;
      width: 35%; }
      .xz-indexpart .xz-index-3 > div h3 {
        font-size: 24px; }
      .xz-indexpart .xz-index-3 > div h5 {
        font-size: 18px;
        color: #0aa1ed; }
      .xz-indexpart .xz-index-3 > div button {
        width: 130px;
        height: 40px;
        background-color: #0aa1ed;
        color: #FFF;
        border: none;
        border-radius: 3px;
        font-size: 16px; }
    .xz-indexpart .xz-index-3 > img {
      position: absolute;
      top: 20%;
      right: 6%;
      width: 49%;
      transition: 1s; }
      .xz-indexpart .xz-index-3 > img:hover {
        transform: scale(1.1); } }
.xz-footer {
  background-color: #FFF; }
  .xz-footer ul {
    line-height: 2;
    font-size: 12px;
    color: #808080; }
    .xz-footer ul > li:first-child {
      font-size: 14px;
      color: #333; }
  .xz-footer p {
    font-size: 14px; }

@media screen and (min-width: 992px) {
  .xz-footer div[class='float-left'] {
    width: 50%; } }

/*# sourceMappingURL=index.css.map */
